* {
    margin: auto;
    outline: none;
  }
  
  #playerboard, #computerboard {
    margin-left: 50px; 
    display: inline-grid;
    width: 30em;
    height: 30em;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid lightgray;
    margin-top: 100px;
  }

.tile {
  width: 100%;
  height: 100%;
}

.hit.ship.tile, #playerboard .hit.ship.tile {
  background: url(hit.png);
  background-size: cover;
}

.miss.tile, .hit.tile {
  background: url(./miss.png);
  background-size: cover;
}

#playerboard .ship {
  background: url(./ship.png);
  background-size: cover;
}

.tile {
  background: url(./texture.png);
  background-size: cover;
  transition: background 0.2s ease;
}

#computerboard .tile:hover {
  background: lightgray;
}

#ship5 {
  width: calc(30em / 10);
  height: calc(30em / 10 * 5);
  background: url(./ship.png);
  background-size: calc(30em / 10);
}

#ship4 {
  width: calc(30em / 10);
  height: calc(30em / 10 * 4);
  background: url(./ship.png);
  background-size: calc(30em / 10);
}

#ship3 {
  width: calc(30em / 10);
  height: calc(30em / 10 * 3);
  background: url(./ship.png);
  background-size: calc(30em / 10);
}

#ship21, #ship22 {
  width: calc(30em / 10);
  height: calc(30em / 10 * 2);
  background: url(./ship.png);
  background-size: calc(30em / 10);
}

.template {
  display: inline-block;
  margin-left: 50px;
}